.content {
  display: grid;
  gap: 1px;
  background-color: #dddddd;
  color: black;
  padding: 1px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica,
    sans-serif;
}

@media screen and (min-width: 768px) {
  .contentcontainer {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.content {
  background-color: #fff;
  padding: 25px;
}

.price {
  font-weight: bold;
}
.itemcontainer {
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.imagecontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.pricecontainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.tablecontainer {
  list-style: none;
}
.itemstable {
  padding: 15px 0;
}
.tablecontent {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.specification {
  font-weight: bold;
  font-size: x-large;
}

@media screen and (max-width: 768px) {
  .tablecontent {
    width: 100vw;
  }
  .imagecontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  }
}

